.basket__title {
  display: block;
  margin-bottom: 2px;
  margin-left: 41px;
  font: {
    size: 14px;
  }
  color: #777777;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: linear;

  .basket:hover & {
    color: #ff8c00;
  }

  @media (max-width: 895px) {
    display: none;
  }
}