.footer__logo-img {
  float: left;

  @media (min-width: 896px) {
    max-width: 42px;
    margin-right: 16px;
  }

  @media (max-width: 895px) and (min-width: 750px) {
    max-width: 88px;
    margin-right: 23px;
  }

  @media (max-width: 749px)  {
    max-width: 40px;
    margin-right: 10px;
  }
}