.header__logo-link {
  @media (min-width: 1280px) {
    margin-right: 89px;
  }

  @media (max-width: 1280px) and (min-width: 896px) {
    margin-right: 20px;
  }

  @media (min-width: 896px) {
    display: flex;
    align-items: center;
    font: {
      size: 33px;
    }
  }

  @media (max-width: 895px) and (min-width: 750px) {
    align-items: flex-start;
    max-width: 255px;
    margin-right: 108px;
    margin-top: 10px;
  }

  @media (max-width: 749px) {
    margin-right: 50px;
  }
}