.header__title-column {
  display: flex;
  justify-content: space-between;
  font: {
    family: 'Myriad Pro LightSemiExt', sans-serif;
  }
  color: #000000;
  border-bottom: 1px solid #e8e7e7;
  cursor: pointer;

  @media (min-width: 896px) {
    display: none;
  }

  @media (min-width: 750px) {
    padding-top: 22px;
    padding-bottom: 22px;
    font: {
      size: 30px;
    }
  }

  @media (max-width: 749px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &::after {
    content: '\3E';
  }
}