.footer__bottom-block {
  @media (min-width: 1280px) {
    padding: 37px 75px 22px 81px;
  }

  @media (min-width: 896px) {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 1549px) and (min-width: 896px) {
    align-items: center;
  }

  @media (max-width: 1279px) and (min-width: 896px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (max-width: 895px) and (min-width: 750px) {
    padding: 38px 20px 33px;
  }

  @media (max-width: 749px) {
    padding: 10px;
  }
}