.home-page-about__indicators-item {
  font: {
    family: 'Myriad Pro LightSemiExt', sans-serif;
  }
  color: #171717;

  @media (min-width: 896px) {
    font: {
      size: 18px;
    }
  }

  @media (max-width: 895px) and (min-width: 750px) {
    font: {
      size: 30px;
    }
  }
}