.portfolio__slide-title {
  display: inline-block;
  color: #f3f1f1;

  @media (min-width: 896px) {
    margin-bottom: 17px;
  }

  @media (min-width: 750px) {
    font: {
      size: 40px;
    }
    line-height: 42px;
  }

  @media (max-width: 895px) and (min-width: 750px) {
    margin-bottom: 22px;
  }

  @media (max-width: 749px) {
    margin-bottom: 10px;
    font: {
      size: 20px;
    }
  }
}