.supplier-portal-link {
  display: flex;
  align-items: flex-start;
  padding-top: 4px;
  font: {
    size: 14px;
  }
  color: #777777;
  text-decoration: none;

  &:hover {
    color: #000000;
  }

  @media (max-width: 895px) {
    display: none;
  }
}