.home-page-news__other-news {
  @media (min-width: 1280px) {
    margin-left: 594px;

    &:not(:last-of-type) {
      margin-bottom: 44px;
    }

    &:last-of-type {
      margin-bottom: 41px;
    }
  }
  &::after {
    content: '';
    display: block;
    clear: left;
  }
}