.header__menu-navigation {
  @media (min-width: 896px) {
    float: left;
  }

  @media (max-width: 895px) and (min-width: 750px) {
    top: 100px;
  }

  @media (max-width: 895px) {
    position: absolute;
    z-index: 3;
    right: 0;
    left: 0;
    background-color: #f1f1f1;
    box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.11);
  }

  @media (max-width: 749px) {
    top: 57px;
  }
}

@import '_close/header__menu-navigation_close.scss';