.equipment__item-description {
  font: {
    family: 'Myriad Pro LightSemiExt', sans-serif;
  }
  color: #777777;

  @media (max-width: 895px) and (min-width: 750px) {
    font: {
      size: 25px;
    }
  }

  .equipment__item:first-child & {
    @media (min-width: 896px) {
      order: 1;
      margin-bottom: 40px;
      padding-right: 71px;
      padding-left: 71px;
    }
  }
}