.header__logo-img {
  @media (min-width: 896px) {
    width: 40px;
    margin-right: 8px;
  }

  @media (max-width: 895px) and (min-width: 750px) {
    float: left;
    width: 56px;
  }

  @media (max-width: 749px) {
    width: 40px;
  }
}