.brands__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 34px;
  color: #232323;
  text-decoration: none;

  @media (min-width: 896px) {
    font: {
      size: 18px;
    }
  }

  @media (max-width: 895px) and (min-width: 750px) {
    flex: 1;
    max-width: 240px;
    font: {
      size: 30px;
    }
  }

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 1151px) and (min-width: 896px) {
    .brands__item:not(:nth-child(3n+3)) & {
      &::after {
        content: '';
        position: absolute;
        top: 17px;
        right: 0;
        bottom: 17px;
        border-right: 2px solid #efeeee;
      }
    }
  }

  @media (max-width: 895px) and (min-width: 750px) {
    .brands__item:not(:nth-child(2n+2)) & {
      &::after {
        top: 25px;
        bottom: 25px;
        border-right: 2px solid #efeeee;
      }
    }
  }

  @media (max-width: 895px) {
    .brands__item:not(:nth-child(2n+2)) & {
      &::after {
        content: '';
        position: absolute;
        right: 0;
      }
    }
  }

  @media (max-width: 749px) {
    .brands__item:not(:nth-child(2n+2)) & {
      &::after {
        top: 10px;
        bottom: 10px;
        border-right: 1px solid #efeeee;
      }
    }
  }
}